#########
# Library
#########

colorama>=0.4.6,<0.5    # Terminal colors

automation-entities @ git+https://github.com/SudoVim/automation-entities@672f68384bc5173779c6013f8ed2676c8f8912d8

#########
# Types
#########

types-colorama>=0.4.15.12,<0.5

#################
# CI/CD utilities
#################

sphinx>=7.2.6,<8                # generate documentation
pip-check-updates>=0.23.0,<0.24 # compare installed versions to those in pypi
mypy>=1.6.1,<1.7                # static type checking
black>=23.10.1,<24              # code formatting
pytest-cov>=4.1.0,<5            # run tests
